.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  color: var(--secondary);
  text-decoration: none;

  &:focus {
    outline: 2px solid var(--complimentary);
  }
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--secondary);
  transition: background-color 0.3s ease;
}

/* Button Variants */
.btn-primary {
  background-color: var(--primary);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-success {
  background-color: var(--success);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-error {
  background-color: var(--error);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-invalid,
.btn[aria-disabled="true"],
.btn:disabled {
  background-color: var(--complimentary);

  &:hover {
    filter: brightness(85%);
  }
}
