.room-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--secondary);
  border: 0.0625rem solid var(--primary);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 25rem;

  /* Lisame transition efekti transformile ja shadow'le */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Hoveril näitab, et saab klikata */
}

/* Hover animatsioon */
.room-card:hover {
  transform: scale(1.05); /* Suurendab kasti 5% */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Lisab varju */
}

/* Mobiilseadmete jaoks kergem hover efekt */
@media (max-width: 768px) {
  .room-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
}

.room-card img {
  object-fit: cover;
  height: fit-content;
  border-radius: 0.5rem 0 0 0.5rem;

  width: 9.375rem;
  height: auto;
  object-fit: cover;
}

.room-card .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 0.5rem;
  padding: 1.25rem 1.25rem 1.25rem 0;
}

.room-card .details p {
  margin: 0;
  font-size: 0.875rem;
  color: var(--primary);
}

.room-card .details p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
}

.room-card button {
  border: none;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  font-size: 0.8125rem;
  cursor: pointer;
  transition: 0.3s;
}

/* Card States */
.room-card.available button {
  background: var(--primary);
  color: var(--background);
}

.room-card.available button:hover {
  background: #050033;
}

.room-card.not-available {
  background: var(--disabled-bg);
  border: 0.0625rem solid var(--disabled-text);
  color: var(--disabled-text);
}

.room-card.not-available button {
  background: #888;
  color: var(--background);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .room-card {
    width: 100%;
    max-width: none;
  }
}
