.settings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);
}

.settings-box {
  background: #eef3ff;
  padding: 2rem 3rem;
  border-radius: 1rem;
  width: 32rem;
  text-align: center;
}

/* PROFILE HEADER */
.profile-header {
  margin-bottom: 2rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  background: var(--primary);
  color: white;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.profile-header h2 {
  margin: 0;
}

.profile-header p {
  margin: 0;
  opacity: 0.7;
}

/* FIELDS */
.field-block {
  text-align: left;
  margin-bottom: 1.8rem;
}

.field-block label {
  font-weight: 600;
  color: var(--primary);
}

/* DISPLAY MODE */
.field-display {
  background: #dfe6ff;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* EDIT MODE */
.field-edit {
  outline: 0.1rem solid var(--primary);
  background: #dfe6ff;
  padding: 0.8rem 1rem;
  border-radius: 0.6rem;
  margin-top: 0.4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-height: 1.3rem;
  width: auto;
}

.field-edit input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.hidden {
  display: none;
}

/* PASSWORD FIELD */
#password-edit {
  outline: 0.1rem solid var(--primary);
  min-height: 10rem;
  flex-direction: column;
  gap: 0.7rem;
  align-items: stretch;
}

/* DELETE ACCOUNT */
.delete-btn {
  margin-top: 2rem;
  width: 100%;
}

/* When chrome autofills, keep the colors nice */
.settings-box input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #dfe6ff inset !important;
  box-shadow: 0 0 0 1000px #dfe6ff inset !important;
  -webkit-text-fill-color: var(--primary) !important;
}

.settings-box input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #dfe6ff inset !important;
  box-shadow: 0 0 0 1000px #dfe6ff inset !important;
  -webkit-text-fill-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

/* Responsive */
@media (max-width: 768px) {
  .setting-item {
    form {
      width: 20rem;
    }
  }

  .account-actions {
    flex-direction: column;
    gap: 1rem;
  }
}
