@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "./base.css";
@import "./layout.css";

@import "./components/buttons.css";
@import "./components/calendar.css";
@import "./components/feature-pane.css";
@import "./components/forms.css";
@import "./components/room-card.css";
@import "./components/navbar.css";

@import "./pages/auth.css";
@import "./pages/bookings.css";
@import "./pages/homepage.css";
@import "./pages/qr.css";
@import "./pages/rooms.css";
@import "./pages/settings.css";

:root {
  /* TODO dark mode */
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #ffffff;
  --error: #7b0a0a;
  --success: #134e04;
  --complimentary: #595861;
  --primary: #0a014f;
  --secondary: #e5edff;
  --disabled-bg: #d9d9d9;
  --disabled-text: #555;
}
