@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #0a014f;
  --secondary: #e5edff;
  --background: #ffffff;
  --error: #7b0a0a;
  --success: #134e04;
  --complimentary: #595861;
}

body {
  background-color: var(--background);

  /* TODO fonts */
  font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  color: var(--primary);
}
