@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* @import "tailwindcss"; */
@import "./form.css";

:root {
  /* TODO dark mode */
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #0a014f;
  --secondary: #ffffff;
  --background: #e5edff;
  --error: #7b0a0a;
  --success: #134e04;
  --complimentary: #595861;
}

body {
  background-color: var(--background);

  font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  color: var(--primary);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  color: var(--secondary);

  &:focus {
    outline: 2px solid var(--complimentary);
  }
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.625rem;
  height: 1.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--secondary);
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--primary);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-success {
  background-color: var(--success);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-error {
  background-color: var(--error);

  &:hover {
    filter: brightness(85%);
  }
}

.btn-invalid,
.btn[aria-disabled="true"],
.btn:disabled {
  background-color: var(--complimentary);

  &:hover {
    filter: brightness(85%);
  }
}

/* .filter {
  color: var(--Secondary, #e5edff);
  text-align: center;
  font-size: 0.875rem;

  display: inline-flex;
  height: 1.875rem;
  padding: 0.625rem 0.125rem;
  justify-content: center;
  align-items: center;
  gap: 0.1875rem;
  background: var(--primary);
  border-radius: 0.625rem;
} */

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
