<!doctype html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Broneeringu vaade</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="module" src="/js/components/navbar.js"></script>
    <script type="module" src="/js/firebase.js"></script>
    <script type="module" src="/js/auth-guard.js"></script>
  </head>
  <body class="with-navbar">
    <app-navbar title="Broneeringu vaade"></app-navbar>
    <div class="split split-nav">
      <div class="pilt">
        <img id="room-image" src="/assets/MURG.jpg" alt="pilt MURGi hoonest." />
      </div>
      <main>
        <header>
          <h1 id="booking-title">Laadimine...</h1>
          <p id="booking-desc"></p>
          <div>
            <strong>Ruum:</strong> <span id="room-title"></span>
            <span id="room-location"></span>
          </div>
          <div><strong>Broneerija:</strong> <span id="booker-name"></span></div>
          <div>
            <strong>Kuupäev:</strong> <span id="booking-date-display"></span>
          </div>
          <div>
            <strong>Aeg:</strong> <span id="booking-time-display"></span>
          </div>
        </header>
        <app-calendar id="booking-calendar"></app-calendar>
        <footer class="toggle-edit-form">
          <button id="toggle-edit-form" type="button" class="btn btn-secondary">
            Muuda broneeringut
          </button>
          <button id="download-ical" class="btn btn-secondary">
            Lae iCal kalendrisse
          </button>
          <a
            id="change-booking-link"
            class="btn btn-secondary"
            href="/room/change/"
            type="button"
          >
            Muuda ruumi
          </a>
        </footer>
        <!-- change booking -->
        <form class="change-booking" style="display: none; margin-top: 0">
          <fieldset>
            <label for="booking-name">Nimi</label>
            <input id="booking-name" type="text" required />

            <label for="booking-description">Kirjeldus (valikuline)</label>
            <textarea id="booking-description" rows="3"></textarea>

            <label for="booking-date">Alguskuupäev</label>
            <input id="booking-date" type="date" required />

            <label for="booking-start-time">Algusaeg</label>
            <input id="booking-start-time" type="time" required />

            <label for="booking-end-date">Lõppkuupäev</label>
            <input id="booking-end-date" type="date" required />

            <label for="booking-end-time">Lõppaeg</label>
            <input id="booking-end-time" type="time" required />
          </fieldset>

          <div
            id="validation-errors"
            style="color: red; margin-top: 1rem"
          ></div>

          <p>
            <span id="summary-text">
              Kellast <strong id="summary-start">-</strong> kuupäeval
              <strong id="summary-date">-</strong> kuni
              <strong id="summary-end">-</strong> kuupäeval
              <strong id="summary-end-date-section">-</strong>.
            </span>
          </p>
          <footer>
            <button id="cancel-booking" type="button" class="btn btn-danger">
              Tühista broneering
            </button>
            <button type="button" class="btn btn-success">
              Salvesta muudatused
            </button>
          </footer>
        </form>
      </main>
    </div>
    <script type="module" src="/js/components/calendar.js"></script>
    <script type="module" src="/js/booking/booking.js"></script>
    <script type="module" src="/js/booking/booking-change.js"></script>
  </body>
</html>
